/*body {
	background-color: skyblue; 
}
.disclaimer {
	background-color: white; 
	padding: 2%;
	border-radius: 2%; 
	border: 2px solid; 
	border-color: #4d79ff; 
}
.discliamer span {
	color: #4d79ff;
	font-weight: bold;
}
.parameters {
	color: #4d79ff;
	font-size: 1.1em; 
	font-weight: bold; 
}
#some-text {
	font-weight: bold; 
}*/